.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #404040;
  padding: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.user-icon {
  display: flex;
  align-items: center;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}